<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/notes/new">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="bpm" placeholder="bpm">
        <input type="text" name="complexity" placeholder="complexity">
        <input type="text" name="duration" placeholder="duration">
        <input type="text" name="creation_date" placeholder="creation_date">
        <input type="text" name="instrument" placeholder="instrument">
        <input type="text" name="description" placeholder="description">
        <button type="submit">Create</button>
    </form>
</body>
</html>