<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <div class="deleteButton">
        <a href="/notes/delete/<%= note.id %>" class="btn btn-primary btn-lg active" 
            style="margin-left: 50px; background-color: darkred;border-color: darkred;" role="button" aria-pressed="true">Delete sheet</a>
    </div>
    <%- include('blocks/find-create-form') -%>
    
</body>
</html>